aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aioresponses==0.7.4
aiosignal==1.4.0
alembic==1.12.1
allure-pytest==2.13.2
allure-python-commons==2.13.2
annotated-types==0.7.0
anyio==4.10.0
attrs==25.3.0
Authlib==1.6.5
Automat==25.4.16
backoff==2.2.1
bandit==1.7.5
black==24.3.0
blinker==1.9.0
Brotli==1.1.0
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
ConfigArgParse==1.7.1
constantly==23.10.4
coverage==7.10.4
cryptography==45.0.6
cssselect==1.3.0
curlify==2.2.1
deprecation==2.1.0
docker==6.1.3
dparse==0.6.4
execnet==2.1.1
factory-boy==3.3.0
Faker==20.1.0
filelock==3.16.1
flake8==6.1.0
Flask==3.0.3
Flask-BasicAuth==0.2.0
flask-cors==6.0.1
frozenlist==1.7.0
gevent==24.2.1
geventhttpclient==2.3.4
gitdb==4.0.12
GitPython==3.1.45
graphql-core==3.2.6
greenlet==3.0.1
h11==0.16.0
httpcore==1.0.9
httpx==0.25.2
hyperlink==21.0.0
hypothesis==6.138.2
hypothesis-graphql==0.11.1
hypothesis-jsonschema==0.23.1
idna==3.10
incremental==24.7.2
iniconfig==2.1.0
isort==5.12.0
itemadapter==0.8.0
itemloaders==1.3.2
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
junit-xml==1.9
locust==2.17.0
lxml==6.0.0
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.2
marshmallow==4.0.0
mccabe==0.7.0
mdurl==0.1.2
mirakuru==2.6.1
msgpack==1.1.1
multidict==6.6.4
mypy==1.7.1
mypy_extensions==1.1.0
nltk==3.9.1
packaging==25.0
parsel==1.10.0
pathspec==0.12.1
pbr==7.0.0
platformdirs==4.3.8
playwright==1.40.0
pluggy==1.6.0
port-for==0.7.4
prometheus-client==0.19.0
propcache==0.3.2
Protego==0.5.0
psutil==6.1.1
psycopg==3.2.9
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.11.1
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
PyDispatcher==2.0.7
pyee==11.0.1
pyflakes==3.1.0
Pygments==2.19.2
pyOpenSSL==25.1.0
pyrate-limiter==2.10.0
pytest==7.4.3
pytest-asyncio==0.21.1
pytest-benchmark==4.0.0
pytest-cov==4.1.0
pytest-html==4.1.1
pytest-json-report==1.5.0
pytest-metadata==3.1.1
pytest-mock==3.12.0
pytest-postgresql==5.0.0
pytest-redis==3.0.2
pytest-subtests==0.7.0
pytest-xdist==3.3.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
pyzmq==27.0.1
queuelib==1.8.0
redis==6.4.0
referencing==0.36.2
regex==2025.7.34
requests==2.32.4
requests-file==2.1.0
responses==0.24.0
rich==14.1.0
roundrobin==0.0.4
rpds-py==0.27.0
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.12
safety==3.6.0
safety-schemas==0.0.14
schemathesis==3.19.7
Scrapy==2.11.2
service-identity==24.2.0
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.23
starlette==0.48.0
starlette-testclient==0.2.0
stevedore==5.4.1
structlog==23.2.0
tenacity==9.1.2
testcontainers==3.7.1
tldextract==5.3.0
tomli==2.2.1
tomli_w==1.2.0
tomlkit==0.13.3
tqdm==4.67.1
Twisted==24.7.0rc1
typer==0.16.1
typing_extensions==4.14.1
urllib3==2.5.0
w3lib==2.3.1
websocket-client==1.8.0
Werkzeug==3.0.6
wrapt==1.17.3
yarl==1.20.1
zope.event==5.1.1
zope.interface==7.2
